{% extends "base.html" %}
{% block title %}Email Confirmation{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Verify Your Email Address</h1>
    
    <p>We have sent an email to you for verification. Follow the link provided to finalize the signup process. 
        If you do not see the verification email in your main inbox, check your spam folder. 
        Please contact us if you do not receive the verification email within a few minutes.
    </p>

    <a href="{% url 'main:landing_page' %}" class="btn btn-secondary">
            <i class="bi bi-arrow-left-circle"></i> Back To Main Page
        </a>
</div>
{% endblock %}